<a href="https://colab.research.google.com/github/nicolefish1113/google-colab/blob/main/demo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# this is a comment 

# import libraries

import pandas as pd

In [11]:
my_data = pd.read_csv('Tweet.csv')

In [12]:
my_data.head()

       tweet_id airline_sentiment  ...  tweet_location               user_timezone
0  5.703060e+17           neutral  ...             NaN  Eastern Time (US & Canada)
1  5.703010e+17          positive  ...             NaN  Pacific Time (US & Canada)
2  5.703010e+17           neutral  ...       Lets Play  Central Time (US & Canada)
3  5.703010e+17          negative  ...             NaN  Pacific Time (US & Canada)
4  5.703010e+17          negative  ...             NaN  Pacific Time (US & Canada)

[5 rows x 15 columns]